.featured{
    height: 90vh;
    position: relative;

        .category{
            position: absolute;
            top: 80px;
            left: 50px;
            font-size: 30px;
            font-weight: 500;
            color: white;
            display: flex;
            align-items: center;
                select{
                    cursor: pointer;
                    background-color: var(--main-color);
                    border: 1px solid white;
                    color: white;
                    margin-left: 20px;
                    padding: 5px;
                }
        }
        .background_fade {
            background: linear-gradient(100deg, rgb(0 0 0 / 100%) 0%, #00000000 60%);
            width: 100%;
            height: inherit;
            position: absolute;
            top: 0;
            z-index: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .info{
            width: 35%;
            height: 31%;
            position: absolute;
            left: 50px;
            bottom: 60px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                img{
                    width: 400px;
                    height: fit-content;
                    object-fit: contain;
                }
                .desc{
                    margin: 20px 0px;
                }
                .buttons{
                    display:flex;
                        button{
                            padding: 10px 20px;
                            border: none;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            font-weight: 500;
                            margin-right: 10px;
                            cursor: pointer;
                            transition: 0.2s;

                        &.play {
                        background-color: white;
                        color: var(--main-color);
                            &:hover{
                                background-color: black;
                                color: #ffffff;
                            }
                        }

                        &.more {
                        background-color: rgb(85, 85, 85);
                        color: white;
                            &:hover{
                                background-color: #242424;
                                color: white;
                            }
                        }

                        span {
                        margin-left: 5px;
                        }
                        }
                }
        }
}